ion-button{
    --background: #fff;
    width: 100%;
    font-weight: bold;
    font-size: 20px;

    & img{
        margin-left: 2%;
        width: 25px;
        height: 25px;
    }
}

ion-button:hover{
    --background: #f7c70f;
    --color: #004a94;

}

ion-button:hover img{
    content: url('/assets/img/200px-Eevee.png');
    width: 40px;
    height:40px;
}