<ion-card>
  <div class="pokedex-button"></div> <!-- 🔵 Botón Pokédex -->
  
  <div class="pokedex-screen" *ngIf="param === 0">

    
    <h2>{{ nombre }}</h2>

    <ion-avatar>
      <img [src]="img" alt="{{nombre}}" class="imgAvatar"/>
    </ion-avatar>

    <p *ngIf="types?.length" class="Tipo">
      <span *ngFor="let type of types">{{ type.type.name | titlecase }}</span>
    </p>
    

    <app-input text="Detalles" [routerLink]="'/pokemon-detail/' + idp"></app-input>

  </div>

  <div class="pokedex-screen" *ngIf="param === 1">

      <h2>{{ nombre }}</h2>

      
      <app-swiper-component [img]="img"/>

      <p class="Tipo">Peso: {{ weight }} kg</p>
      <p class="Tipo">Altura: {{ height }} m</p>

      <p *ngIf="types?.length" class="Tipo">
        <span *ngFor="let type of types">{{ type.type.name | titlecase }}</span>
      </p>

      <p *ngIf="ability?.length" class="Tipo">
        Habilidades:
        <span *ngFor="let ability of ability">
          {{ ability.ability.name | titlecase }}
        </span>
      </p>

      <p class="Tipo">{{ description }}</p>
      
  </div>
  
  <div class="pokedex-indicator"></div> 
</ion-card>


